@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
:root {
	/* main colors */
	--clr-primary-dark1: #2a0944;
	--clr-primary-dark2: #3b185f;
	--clr-primary-purple: #a12568;
	--clr-primary-yellow: #fec260;
	--clr-primary-white: #ffffff;
	--clr-primary-black: #000000;
}

.body {
	background-color: var(--clr-primary-dark1);
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	font-family: "Lato", sans-serif;
	margin: 0;
}
.showcase {
	background: rgba(0, 0, 0, 0.1);
	padding: 5px 10px;
	border-radius: 5px;
	color: #777;
	list-style-type: none;
	display: flex;
	justify-content: space-between;
}

.showcase li {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 10px;
}

.showcase li small {
	margin-left: 2px;
}

.screen {
	background-color: #fff;
	height: 70px;
	width: 100%;
	margin: 15px 0;
	transform: rotateX(-45deg);
	box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}
.container-room2 {
	width: 130px;
	margin-bottom: 200px;
	position: relative;
}
tr.row {
	width: 130px;
}
.grid td {
	width: 22px;
	height: 20px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;

	margin: 3px;
}
.grid {
	position: absolute;
	left: 22px;
}
.grid td:hover {
	opacity: 0.7;
	cursor: pointer;
}

.seat.selected {
	background-color: var(--clr-primary-purple);
}

.seat.occupied {
	background-color: var(--clr-primary-yellow);
}

li {
	list-style: none;
}
p.text {
	margin: 5px 0;
}

p.text span {
	color: #6feaf6;
}
.seat {
	background-color: var(--clr-primary-dark2);
	height: 20px;
	width: 22px;
	margin: 3px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
